@model TravelBlog.Models.Experience

@{
    ViewData["Title"] = "Deletion";
}

<h1>Are you sure you wish to forget?</h1>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ExperienceId)
    <input type="submit" value="Delete" class="btn btn-danger"/>
}

@Html.ActionLink("Back to experiences", "Index")